.tracking-icon {
    padding: 4px;
    text-align: left;
    vertical-align: middle;
    background-color: #4c4a4a42;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin: 4px; /* Space between cells */
  }
  /* Container */
.container {
  display: flex;
  padding-top: 20px;
}

/* First div */
.first-div {
  width: 30%;
  margin-right: 20px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

.first-div-large {
  height: 600px;
}

.first-div-small {
  height: 400px;
}

/* Form grid container */
.form-grid-container {
  padding-top: 10px !important;
  margin-left: 0;
}

/* Grid item */
.grid-item {
  padding-top: 10px !important;
  width: 98% !important;
  padding-left: 0px !important;
}

/* Button styles */
.submit-button {
  height: 51px;
  min-width: 56px;
  border: 1px solid #c6c7c9;
  background-color: white;
  box-shadow: none;
  border-radius: 0px 12px 12px 0px;
  margin-left: -12px;
}

.submit-button-icon {
  color: #c6c7c9;
  height: 1.5rem;
  width: 1.5rem;
}

/* Table container */
.table-container {
  margin-top: 16px;
  border-radius: 12px 12px 0px 0px;
}

/* Tracking icon table cell */
.tracking-icon {
  cursor: pointer;
}

.tracking-icon img {
  width: 16px;
  margin-right: 4px;
  float: left;
}

.tracking-icon .icon-text {
  color: black;
  font-size: 12px;
  font-weight: bold;
  display: block;
  float: left;
}

/* Table row */
.table-row {
  border-bottom: none;
}

.table-cell {
  padding-bottom: 5px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
}

.table-cell-selected {
  background-color: rgb(167, 169, 171);
}

.table-cell img {
  width: 20px;
  margin-right: 4px;
  margin-bottom: 4px;
  float: left;
}

.table-cell span {
  display: block;
  float: left;
}

/* Table container */
.skytron-table-container {
  margin-top: 20px;
  max-height: 500px; /* Set max height for vertical scrolling */
  max-width: 100%; /* Set max width for horizontal scrolling */
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  border-radius: 8px; /* Round corners */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Table */
.skytron-table {
  border-collapse: collapse;
}

/* Table header cell */
.skytron-table-header-cell {
  font-weight: bold;
  padding: 10px;
  text-transform: capitalize; /* Capitalize header labels */
  white-space: nowrap; /* Ensure one-liner headers */
  border: 1px solid #ddd;
  background-color: #eef2f6;
  font-size: 12px;
  color: #090a0a;
}

/* Table row */
.skytron-table-row {
  background-color: white;
}

.skytron-table-row:nth-child(even) {
  background-color: #f5f5f5; /* Zebra striping for rows */
}

/* Table cell */
.skytron-table-cell {
  padding: 8px 12px; /* Add consistent padding to cells */
  border: 1px solid #ddd; /* Add border to table cells */
}

/* No data available cell */
.skytron-no-data-cell {
  text-align: center;
  padding: 20px;
  color: #888; /* Light gray text for no data message */
  border: 1px solid #ddd; /* Add border for no data message */
}
